# Configuration file

~CONFIG_VERSION: 0.1.0

world-1017586533 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@terrafirmacraft sapling
    B:overlayEnabled=true
}


world-1179387371 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1974054333 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=rubber
    B:overlayEnabled=true
}


world-30146136 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-569829551 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=ingot
    B:overlayEnabled=true
}


world-587014702 {
    # Показывать список закладок рядом с открытым интерфейсом.
    B:bookmarkOverlayEnabled=true

    # Брать предметы вместо отображения рецепта.
    B:cheatItemsEnabled=false

    # Скрывать и показывать предметы в списке нажатием клавиши по ним.
    B:editEnabled=false
    S:filterText=coppe

    # Показывать список предметов рядом с открытым интерфейсом.
    B:overlayEnabled=true
}


world-78688046 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=oak
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1855637915 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2118631218 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=ingot
    B:overlayEnabled=true
}


world492528530 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=water
    B:overlayEnabled=true
}


